<div class="col-md-12 text-white bg-dark">
    <div class="row">
        <div class="col-md-9 uk-position-bottom-left">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-fluid mt-1 " style="height: 100px" src="assets/img/loguito.jpg" alt="">
                </div>
                <div class="col-md-9">
                    <p> &copy; Universidad Nacional de Cajamarca
                        <br> Facultad de Ingeniería
                        <br>Escuela de Ingeniería de Sistemas
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-3 uk-position-bottom-right ">
            <p>
                Eymie Vera
                <br> +51 976 826923
                <br> Av.Perú #1172
                <br>everar16_1@unc.edu.pe

            </p>
        </div>
    </div>
</div>